* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*:root {*/
/*    --color-primary: hsl(0, 50%, 90%);*/
/*    --color-secondary: hsl(0, 50%, 10%);*/
/*    --color-tertiary: hsl(262, 80%, 20%);*/
/*    --color-accent: hsl(142, 80%, 20%);*/
/*}*/
:root {
    --color-primary: hsl(0, 0%, 15%);
    --color-secondary: hsl(0, 0%, 20%);
    --color-tertiary: hsl(0, 0%, 25%);
    --color-text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);
    --border-settngs: 1px solid var(--color-tertiary);
    color: var(--text-muted);
}


.container {
    display: grid;
    grid-template-columns: minmax(250px, 0.8fr) 4fr;
    /*auto to make the first row (header) be as big as the content in it*/
    grid-template-rows: auto 1fr;
    /*min-height so the container is at least 100 viewport height but
    if there is more content, the container will grow*/
    min-height: 100vh;
}

aside {
    background-color: var(--color-secondary);
    grid-column: 1 / 2;
    /*-1 to make it go from the first row to the last, could also just write 3*/
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 1em;
    font-size: 1.5rem;
    gap: 5rem;
    align-content: start;
    border-right: var(--border-settngs);


}

li + li {
    margin-top: 0.4em;
}

li {
    list-style: none;
}

header {
    background-color: var(--color-primary);
    grid-column: 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: minmax(300px, 1.2fr) 1fr;
    border-bottom: var(--border-settngs);
    padding: 1rem 2rem;
    gap: 1.5rem;
}

.search-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;

}


input {
    width: 100%;
    border-radius: 9px;
    border: none;
    background-color: var(--color-secondary);
    height: 1.5rem;
    padding: 5px;
    color: var(--text-muted);
    outline: var(--border-settngs);
}

input:focus {
    outline: 1px solid hsl(0, 0%, 50%);
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:visited, a:link {
    color: var(--text-muted);
}

a:hover {
    color: hsl(0, 0%, 85%);
}

a:active {
    color: hsl(0, 0%, 100%);

}

.user {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-self: end;
    gap: 1.5rem;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    fill: var(--text-muted);
}

svg:hover,
img:hover {
    transform: scale(1.1);
}

svg:active {
    fill: hsl(0, 0%, 95%);
}

img {
    width: 3rem;
    height: 3rem;
    border-radius: 999px;
    border: var(--border-settngs);

}

img:active {
    filter: brightness(120%);
}

.greeting img {
    width: 6rem;
    height: 6rem;
}

.greeting {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    justify-self: start;
}

.greeting p {
    font-size: 1.2rem;
}

.greeting p + p {
    font-size: 1.7rem;
    margin-top: 0.25rem;
    font-weight: bold;
}

button {
    background-color: var(--color-secondary);
    color: var(--text-muted);

    padding: 0.6rem 1.8rem; /*first value top/bottom, second left/right */

    border: var(--border-settngs);
    border-radius: 999px;

    font-size: 0.9rem;

}

button:hover, input:hover {
    color: hsl(0, 0%, 75%);
    background-color: hsl(0, 0%, 25%);
    cursor: pointer;
}

button:active {
    background-color: hsl(0, 0%, 35%);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    align-items: center;
    justify-self: end;
}

main {
    background-color: var(--color-primary);
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 1fr;
    align-items: start;
    padding: 1.8rem 1.5rem;;
    gap: 1.5rem;
}

.projects-section {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.projects-section, .announcements-section, .trending-section {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;

}


.card {
    display: grid;
    grid-template-rows: repeat(3, auto);

    padding: 1rem;
    min-height: 200px;
    word-break: break-word;
    font-size: clamp(0.9rem, 2vw, 1rem);
    border-left: 0.5rem solid hsl(0, 0%, 22%);
/*test*/
}

.card, .announcements-container, .trending-container {
    background-color: var(--color-secondary);
    outline: var(--border-settngs);
    border-radius: 10px;
}

.announcements-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 1rem;
    gap: 1rem;
}

.announcement-card + .announcement-card {
    border-top: var(--border-settngs);
    padding-top: 1rem; /* Optional: add some space */
}


.trending-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 1rem;
    gap: 1rem;

}

h1, h2, .greeting-text p+p {
    color: var(--color-text);
}

.trending-card {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-self: start;
    gap: 1rem;
}

.trending-user-text {

}


