* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*:root {*/
/*    --color-primary: hsl(0, 50%, 90%);*/
/*    --color-secondary: hsl(0, 50%, 10%);*/
/*    --color-tertiary: hsl(262, 80%, 20%);*/
/*    --color-accent: hsl(142, 80%, 20%);*/
/*}*/
:root {
    --color-primary: hsl(0, 0%, 15%);
    --color-secondary: hsl(0, 0%, 20%);
    --color-tertiary: hsl(0, 0%, 25%);
    --color-text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);
    --border-settngs: 1px solid var(--color-tertiary);
    color: var(--text-muted);
}


.container {
    display: grid;
    grid-template-columns: minmax(250px, 0.8fr) 4fr;
    /*auto to make the first row (header) be as big as the content in it*/
    grid-template-rows: auto 1fr;
    /*min-height so the container is at least 100 viewport height but
    if there is more content, the container will grow*/
    min-height: 100vh;
}

aside {
    background-color: var(--color-secondary);
    grid-column: 1 / 2;
    /*-1 to make it go from the first row to the last, could also just write 3*/
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 1em;
    font-size: 1.5rem;
    gap: 5rem;
    align-content: start;
    border-right: var(--border-settngs);


}

li + li {
    margin-top: 0.4em;
}

li {
    list-style: none;
}

header {
    background-color: var(--color-primary);
    grid-column: 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 3fr 1fr;
    border-bottom: var(--border-settngs);
}

search {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1em;
    padding: 1.5em;
}

label[for="user-search"] {
    width: 1.5rem; /
    height: 1.5rem;
    cursor: pointer;
    fill: var(--text-muted);
}

label[for="user-search"]:hover {
    transform: scale(1.1);
}

label[for="user-search"]:active {
    fill: hsl(0, 0%, 95%);
}

input {
    width: 100%;
    border-radius: 9px;
    border: none;
    background-color: var(--color-secondary);
    height: 1.5rem;
    padding: 5px;
    color: var(--text-muted);
    outline: var(--border-settngs);
}

input:focus {
    /* You can use outline, border, or box-shadow. Outline is often best. */
    outline: 1px solid hsl(0, 0%, 50%); /* A nice, visible blue */
}

main {
    background-color: var(--color-primary);
    grid-column: 2;
    grid-row: 2;
}

button {
    background-color: var(--color-secondary);
    color: var(--text-muted);

    padding: 0.6rem 1.8rem; /*first value top/bottom, second left/right */

    border: var(--border-settngs);
    border-radius: 999px;

    font-size: 0.9rem;

}

button:hover, input:hover {
    color: hsl(0, 0%, 75%);
    background-color: hsl(0, 0%, 25%);
    cursor: pointer;
}

button:active {
    background-color: hsl(0, 0%, 35%);
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:visited, a:link {
    color: var(--text-muted);
}

a:hover {
    color: hsl(0, 0%, 85%);
}

a:active {
    color: hsl(0, 0%, 100%);

}

